@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
/* /////////////////////////////////////////////////// */
/* MAIN */
/* /////////////////////////////////////////////////// */
:root{
  --darkpurple: #1D1A39;
  --purple: #451952;
  --maroon: #662549;
  --lightmaroon: #AE445A;
  --orange: #F39F5A;
  --beige: #E8BCB9;
  --white: #F5F5F5;
  --teal: #008080;
  --gray: #4b4c4d;
}

#app{
  /* width: 99vw; */
  min-height: 100vh;
  transition: background 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Wellfleet';
  margin: 1rem;
}
.main-page {
  background-color: var(--white);
  height: 100vh;
}
.dark .main-page {
  background-color: var(--maroon);
}

/* /////////////////////////////////////////////////// */
/* HEADER */
/* /////////////////////////////////////////////////// */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--beige);
  transition: background 0.3s ease-in-out;
  /* margin-bottom: 1rem; */
  box-shadow: -.5rem -.5rem var(--purple);
}
header h1{
  padding-left: 1rem;
  margin: 0;
}
header a{
  text-decoration: none;
  color: var(--purple);
}
.header-end{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dark header{
  background: var(--darkpurple);
}
.dark header a{
  color: var(--beige)
}
.dark header .hamburger-menu_buttonline  {
  background: var(--beige)
}

/* /////////////////////////////////////////////////// */
/* NAV */
/* /////////////////////////////////////////////////// */
.header-toggle{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.nav-dropdown{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 0.75rem;
}
.nav-dropdown a{
  color: var(--purple);
  text-decoration: none;
  height: 4vh;
  cursor: pointer;
}
.nav-dropdown a:hover{
  color: var(--lightmaroon)
}

.dark .nav-dropdown a{
  color: var(--beige)
}
.dark .nav-dropdown a:hover{
  color: var(--lightmaroon)
}
.toggle-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle{
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--purple);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.toggler:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background: whitesmoke;
}
input:checked + .toggler {
  background: var(--orange);
}
input:focus + .toggler{
  box-shadow: 0 0 2px var(--orange);
}
input:checked + .toggler:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
.toggler.round {
  border-radius: 34px;
}
.toggler.round:before {
  border-radius: 50%;
}
.logout-btn{
  color: var(--darkpurple);
  background-color: var(--white);
  font-weight: 600;
  margin: 0;
  padding: .5rem;
  outline: 1px solid var(--orange);
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out 0.2s
}
.dark .logout-btn{
  color: var(--white);
  background-color: var(--purple);
}
.logout-btn:hover{
  background-color: var(--purple);
  outline: 1px solid var(--maroon);
  a{
    color:var(--white);
  }
}
.dark .logout-btn:hover{
  background-color: var(--lightmaroon);
  outline: 1px solid rgb(93, 27, 156);
  a{
    color:var(--white);
  }
}

/* /////////////////////////////////////////////////// */
/* HAMBURGER MENU */
/* /////////////////////////////////////////////////// */
.hamburger-nav-container{
  margin: 0.5rem 0;
}
.hamburger-menu{
  margin: 0.5rem 0;
  margin-right: 0.5rem;
}
.hamburger-menu_button {
  width: 2.5rem;
  height: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-menu_buttonline {
  width: 100%;
  height: .25rem;
  background-color: black;
}

/* /////////////////////////////////////////////////// */
/* LOGIN PAGE */
/* /////////////////////////////////////////////////// */
.spacer{
  height: 10vh;
  background-color: white;
}
.dark .spacer {
  background-color: var(--maroon);
}
.login-container{
  display:flex;
  padding-bottom: 2rem;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    margin:auto;
    text-align: center;
  }
}
.dark .login-container {
  background-color: var(--maroon);
}
.login-title{
  border-right: 4px solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
.form{
  display: grid;
  place-items: center;
  position: relative;
  width: 80vw;
  height: 75vh;
  padding: 0.5rem;
  margin:0, 2rem;
  border-radius: 25px;
  background-color: var(--beige);
  box-shadow: .5rem .5rem var(--purple);
}
.form-body{
  position: absolute;
}
.login-title{
  color: var(--purple);
  padding: 0 1rem;
  font-weight: 500;
  font-size: 36px;
}
.input-area{
  margin-top: 2rem;
}
.form-inp{
  padding: 1rem 2rem;
  background: transparent;
  border: 1px solid var(--darkpurple);
  line-height: 1;
  border-radius: 8px;
  margin-bottom: 15px;
}
.form-inp:focus{
  border: 1px solid var(--darkpurple);
}
.form-inp input{
  width: 100%;
  height: 100%;
  background: none;
  font-size: medium;
  color: var(--darkpurple);
  border: none;
  padding: 0;
  margin: 0;
}
.form-inp input:focus{
  outline: none;
}
.login-btn{
  margin-top: .75rem;
}
.submit-btn{
  display: block;
  width: 100%;
  color: var(--darkpurple);
  background-color: transparent;
  font-weight: 600;
  margin: 0;
  padding: .5rem;
  outline: 1px solid var(--orange);
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out 0.3s
}
.submit-btn:hover{
  transition: all ease-in-out 0.3s;
  background-color: var(--darkpurple);
  color: var(--orange);
  cursor: pointer;
}
.forgot-pwd{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.forgot-pwd a{
  color: var(--lightmaroon);
  text-decoration: none;
}


.scroll-container{
  background-color: var(--beige);
  margin-top: 2rem;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  height: fit-content;
  border-radius: 2rem;
  box-shadow: .25rem .25rem var(--purple);
}
.scroll-intro{
  display: inline-block;
  animation: scroll-container 80s linear infinite;
  color: var(--purple)
}
@keyframes scroll-container {
  0% {
    transform: translate(0,0);
  }
  100%{
    transform: translate(-100%, 0);
  }
}
/* /////////////////////////////////////////////////// */
/* DARK MODE LOGIN */
/* /////////////////////////////////////////////////// */
.dark div .form {
  background: var(--darkpurple);
}
.dark div .form .form-body .login-title{
  color: var(--beige);
}
.dark div .form .login-btn .submit-btn{
  color: var(--maroon);
  background-color: var(--orange);
  outline: 1px solid var(--darkpurple);
}
.dark div .form .login-btn .submit-btn:hover{
  color: var(--orange);
  background-color: var(--lightmaroon);
}
.dark div .scroll-container{
  background-color: var(--lightmaroon);
}
.dark div .scroll-container .scroll-intro{
  color: var(--beige)
}
.dark .form-inp{
  border: 1px solid var(--beige);
}
.dark .form-inp input{
  color: var(--beige);
}

/* /////////////////////////////////////////////////// */
/* LOGOUT PAGE */
/* /////////////////////////////////////////////////// */
.logout-page{
  height: 25vh;
  background-color: var(--beige);
  box-shadow: -.5rem -.5rem var(--purple);
  margin-bottom: 2rem;
}
.logout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--beige);
  text-align: center;
  padding-bottom: 1rem;
}
.logout-text{
  color: var(--darkpurple);
}
.dark .logout-container {
  background: var(--darkpurple);
}
.dark .logout-text{
  color: var(--beige);
}
.redirect-btn{
  width: 20%;
  height: 5vh;
  margin: 0.25rem 0;
  font-weight: 600;
  outline: 1px solid var(--orange);
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  background-color: transparent;
  a {
    text-decoration: none;
    color: var(--darkpurple);
  }
}
.redirect-btn:hover{
  transition: all ease-in-out 0.4s;
  background-color: var(--darkpurple);
  cursor: pointer;
  a {
  color: var(--orange);
  }
}
.dark .redirect-btn{
  background-color: var(--orange);
  outline: 1px solid var(--darkpurple);
  a {
  color: var(--maroon);
  }
}
.dark .redirect-btn:hover{
  background-color: var(--lightmaroon);
  a {
  color: var(--orange);
  }
}

/* /////////////////////////////////////////////////// */
/* MYFRIEND CSS */
/* /////////////////////////////////////////////////// */
.nli-warning{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.nli{
  font-size: x-large;
  font-weight: bolder;
}
.friend-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
.dark .friend-box {
  background-color: var(--maroon)
}

/* /////////////////////////////////////////////////// */
/* CHATBOX */
/* /////////////////////////////////////////////////// */
.chat-box{
  background: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 10rem;
  background-color: white;
}
.dark .chat-box{
  background-color: var(--maroon);
}
.chat-container{
  width: 800px;
  min-height: 250px;
  border: 2px solid slategray;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: .5rem .5rem var(--purple);

}
.dark .chat-container {
  background-color: var(--lightmaroon);
  border: 2px solid var(--orange)
}
.chat-display-container{
  margin-left: 1rem;
}
.chat-display-you{
  margin: 0;
  padding: 0;
  color: var(--maroon);
}
.dark .chat-display-you {
  color: var(--beige)
}
.chat-display-friend{
  margin: 0;
  padding: 0;
  color: var(--teal);
}
.dark .chat-display-friend {
  color: var(--white);
}

/* /////////////////////////////////////////////////// */
/* INPUTBOX CSS */
/* /////////////////////////////////////////////////// */
.input-container{
  width: 800px;
  margin-top: 0;
  min-height: 50px;
  border: 2px solid var(--teal);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: .5rem .5rem var(--purple);

}
.dark .input-container{
  background-color: var(--lightmaroon);
  border: 2px solid var(--beige)
}
.input-text{
  width: 100%;
  height: 5rem;
  background: transparent;
  border: none;
  margin-left: 1rem;
  color: var(--maroon);
  font-size: large;
}
.dark .input-text {
  color: var(--beige)
}
.dark .input-text::placeholder{
  color: var(--beige)
}
.input-text:focus{
  outline: none;
  color: var(--maroon);
}
.dark .input-text:focus{
  color: var(--beige)
}
.input-btn {
  margin-right: 1rem;
  width: 8rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--orange);
  padding: 10px 20px;
  border: none;
  color: black;
}

/* /////////////////////////////////////////////////// */
/* FOOTER CSS */
/* /////////////////////////////////////////////////// */
footer {
  background-color: var(--white);
}
footer hr{
  padding: 0;
  margin: 0;
  border: none;
}
.dark footer {
  background-color: var(--darkpurple);
}

.list-inline {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.list-inline-item {
  padding:0 10px;
}

.list-inline a {
  color:var(--gray);
  text-decoration:none;
  opacity:0.8;
}
.dark .list-inline a {
  color: var(--teal)
}

.list-inline a:hover {
  opacity:1;
}

.social {
  text-align:center;
  padding: 15px;
}
.dark .social {
  display: none;
}
.social-negative {
  text-align:center;
  padding: 15px;
  display: none;
}
.dark .social-negative {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  opacity:0.75;
  margin: 0 8px;
}
.social a:hover {
  opacity:0.9;
}
.social-negative a {
  opacity:0.75;
  margin: 0 8px;
}
.social-negative a:hover {
  opacity:0.9;
}


.copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:var(--gray);
  margin-bottom:0;
  opacity: 0.5;
}
.dark .copyright {
  color: var(--teal);
  opacity: 0.8;
}

/* /////////////////////////////////////////////////// */
/* HISTORY PAGE */
/* /////////////////////////////////////////////////// */
.icon-btn{
  height: 1.5rem;
  width: 1.5rem;
  background: white;
  border-radius: 8px;
  border: 2px solid red;
}


/* /////////////////////////////////////////////////// */
/* MOBILE CSS */
/* /////////////////////////////////////////////////// */
@media only screen and (max-width: 750px){
  .scroll-container{
    width: 80vw;
  }
  .nav-dropdown a{
    height: 2.5vh;
  }
  .form{
    height: 50vh;
    
  }
  .form-body{
    min-height: fit-content;
    min-width: fit-content;
  }
  .login-title, .input-area, .login-btn, .forgot-pwd{
    min-height: fit-content;
    min-width: fit-content;
  }
  .chat-container{
    width: 300px;
  }
  .input-container{
    width: 300px;
  }
}